<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>K8</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="#" th:href="@{/css/main.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="#" th:href="@{/webjars/fancybox/2.1.5/jquery.fancybox.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<div class="container">
    <h1>Search page!</h1>

    <form action="/" method="get" class="form-inline">
        <input type="text" name="q" th:value="${searchText}" class="form-control"/>
        <button type="submit" th:text="Search" class="btn btn-primary"/>
    </form>

    <div th:if="${items}">
        Found <span th:text="${itemsCount}"></span> items
    </div>

    <table>
        <tr th:each="item : ${items}">
            <td><span th:text="${item.name}">name</span></td>
            <td><span th:text="${item}">all</span></td>
        </tr>
    </table>
</div>
</body>
</html>