<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>K8</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="#" th:href="@{/css/main.css}"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="#" th:href="@{/webjars/fancybox/2.1.5/jquery.fancybox.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<div class="main-container">
    <h1>Search sources</h1>

    <table class="table table-bordered table-row table-hover">
        <tr th:each="source : ${sources}">
            <td><span th:text="${source.owner}">owner</span></td>
            <td><span th:text="${source.path}">path</span></td>
            <td><a th:href="@{'/sources/edit/' + ${source.id}}">Edit</a></td>
        </tr>
    </table>
</div>
</body>
</html>